<div class="col-sm-2 dashboard-card">

  <div class="card card-inverse card-primary text-center">
    <img class="card-img-top" src="https://cdn.dribbble.com/users/255717/screenshots/4443727/analytics_icons.png"
      alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{this.name}}</h4>
      <p class="card-text">{{this.description}}</p>
      <a href="/dashboard/dashboardMetrics/{{this._id}}" class="btn open-dshbrd-btn">Open</a>
      
      
      {{!-- Section edit view delete --}}
      <div class="edit-view-delete">
        <div class="row">

          <span class="evd">
            <form action="/auth/dashboard/{{this._id}}/edit" method="get">
            <button type="submit" class="btn a-btn-slide-text"><span class="glyphicon glyphicon-edit"
                  aria-hidden="true"></span>
                <span><strong>Edit</strong></span></button>
            
            {{!-- <a href="#" class="btn a-btn-slide-text"> --}}
              {{!-- <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <span><strong>Edit</strong></span> --}}
            {{!-- </a> --}}
            </form>
          </span>

          <span class="evd">
            <form action="/auth/dashboard/{{this._id}}/delete" method="post">
              <button type="submit" class="btn a-btn-slide-text"><span class="glyphicon glyphicon-remove"
                  aria-hidden="true"></span>
                <span><strong>Delete</strong></span></button>
            </form>
          </span>


        </div>
      </div>
      {{!-- enf of section edit view delete --}}

    </div>
  </div>

</div>
</div>
</div>